<section id="projects" data-section="projects" class="section py-16 scroll-m-20 w-full mx-auto container px-4 sm:px-6 lg:max-w-4xl md:max-w-2xl">
  <div class="flex items-center justify-between mb-6">
    <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
      <code-icon [className]="'size-8'" />
      Proyectos
    </h2>
  </div>


  @if (buildingProjects) {
    <div class="projects-container-empty">
      <div class="icon-building">
        ⚙️
      </div>
      <h1>Estamos construyendo algo increíble</h1>
      <p>
        Nuevos proyectos de <strong>software</strong> están en desarrollo.
        Muy pronto tendrás novedades.
      </p>
      <div class="progress">
        <span></span>
      </div>
    </div>
  } @else {
    <div class="projects-container grid-view grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      @for(project of projectList; track project.title) {
        <ng-container [ngTemplateOutlet]="tmpProject" [ngTemplateOutletContext]="{ project: project }"></ng-container>
      }
    </div>
  }
</section>

<ng-template #tmpProject let-project="project">
  <div class="project-card">
    <div class="project-image relative h-50">
      <img [ngSrc]="project?.image" [alt]="project.title" [fill]="true" [loading]="'lazy'"/>
    </div>
    <div class="tech-tags py-4">
      @for (tech of project.technologies; track tech) {
        <span>{{ tech }}</span>
      }
    </div>
    <h3>{{ project.title }}</h3>
    <p class="text-justify py-5">{{ project.description }}</p>
    <div class="buttons flex gap-2">
      @for (btn of project['buttons']; track btn) {
        <a [href]="btn.url || '#'" target="_blank" rel="noopener noreferrer">
          {{ btn.text }}
        </a>
      }
    </div>
  </div>
</ng-template>


